@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* This colors are based on Poimandress Theme */
@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-title: #F1EDF7;
  --color-text: #AFA9BD;
  --color-violet: #A259FF;
  --color-violet-light: #CBA6FF;
  --color-lime-neon: #C1FF00;
  --color-surface: #1A1A22;
  --color-border: #2E2A3A;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

::selection {
  background-color: #C1FF00; /* Color de fondo personalizado */
  color: #000000; /* Color del texto durante la selección */
}

.parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  z-index: -1;
  background: radial-gradient(circle at 30% 30%, #7f00ff33, transparent 40%),
              radial-gradient(circle at 70% 70%, #00c3ff33, transparent 40%),
              radial-gradient(circle at 50% 50%, #ff00cc22, transparent 60%);
  animation: moveBg 20s linear infinite;
  transform: translateZ(0); /* performance fix */
  background-blend-mode: screen;
  opacity: 0.4;
}

@keyframes moveBg {
  0% { transform: translate(-5%, -5%) scale(1); }
  50% { transform: translate(5%, 5%) scale(1.05); }
  100% { transform: translate(-5%, -5%) scale(1); }
}


